h1{
    background-color: rgb(169, 224, 224);
   color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p {
    text-align: center;
    font-size: 30px;
    background-color: rgb(237, 239, 239);
}

div{
 background-color: rgb(173, 240, 240);
}
title{
    text-align: center;
    background-color: blueviolet;
    font-size: 40px;
}